/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.containe {
    width: 80%;
    margin: 0 auto;
}

.logo img {
    height: 90px;
    width: auto ;
}

/* Encabezado */
header {
    background-color: #285336;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

/* Navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #285336;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.disciplines-list {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.disciplines-list a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .disciplines-list {
    display: block;
}

/* Icono de Hamburguesa */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: 0.4s;
}

/* Secciones */
section {
    padding: 50px 0;
}

/* Footer */
footer {
    background-color: #285336;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos adicionales para navegación responsive */
@media screen and (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #285336;
        text-align: center;
        opacity: 0.9;
        transition: max-height 0.4s ease-out;
        max-height: 0;
        overflow: hidden;
    }

    .navbar.active .nav-links {
        max-height: 200px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #285336;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.header p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #fff;
    color: #285336;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #eee;
}

.quienes-somos {
    background-color: #f5f5f5;
    padding: 80px 0;
}

.quienes-somos h2 {
    text-align: center;
    margin-bottom: 40px;
}

.quienes-somos p {
    font-size: 1.1em;
    line-height: 1.6;
}

.mision-vision-valores {
    background-color: #fff;
    padding: 80px 0;
}

.mision, .vision, .valores {
    text-align: center;
    margin-bottom: 40px;
}

.mision h3, .vision h3, .valores h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.mision p, .vision p, .valores p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Estilos para la sección de contacto */
.contacto {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.contacto h2 {
    color: #285336;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.contacto-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.redes-sociales {
    flex: 1;
}

.redes-sociales a {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    background-color: #285336;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5em;
    transition: background-color 0.3s;
}

.redes-sociales a:hover {
    background-color: #1d3f32;
}

.informacion-contacto {
    flex: 2;
    text-align: left;
}

.informacion-contacto p {
    font-size: 1.1em;
    margin: 10px 0;
}

/* Estilos para la sección de formulario de contacto */
.formulario-contacto {
    background-color: #285336;
    color: #fff;
    padding: 50px 0;
}

.formulario-contacto h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.formulario-contacto form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulario-contacto label {
    font-size: 1.2em;
    margin-bottom: 10px;
    flex-basis: 100%;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.formulario-contacto button {
    background-color: #1d3f32;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-contacto button:hover {
    background-color: #133526;
}

/* Estilos para el footer */
.footer {
    background-color: #1d3f32;
    color: #fff;
    padding: 50px 0;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.redes-sociales-footer,
.informacion-contacto-footer,
.derechos-autor,
.enlaces-importantes {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.redes-sociales-footer a {
    margin: 10px;
}

.derechos-autor p {
    font-size: 1.1em;
}

.enlaces-importantes a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1em;
}

.enlaces-importantes a:hover {
    text-decoration: underline;
}


/* Estilos para la sección de Beneficios */
#beneficios {
    color: #fff;
    padding: 50px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#beneficios h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#beneficios p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Estilos para la galería */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
    margin-left: 8px;
}

.galeria img {
    width: 520px;
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.galeria img:hover {
    transform: scale(1.1);
}

/* Estilos para la sección de Precio */
#precio {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}

#precio h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #285336;
}

.membresia-familiar,
.membresia-personal {
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.membresia-familiar:hover,
.membresia-personal:hover {
    transform: scale(1.05);
}

.membresia-familiar h3,
.membresia-personal h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #285336;
}

.membresia-familiar p,
.membresia-personal p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
    color: #333;
}

.membresia-familiar p:last-child,
.membresia-personal p:last-child {
    margin-bottom: 0;
}

.membresia-familiar p,
.membresia-personal p,
#precio p {
    color: #666;
}


/* Estilos mejorados para las secciones de clases */
.clase-seccion {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.clase-contenido {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

h2 {
    margin-bottom: 10px;
    font-size: 2rem;
}

p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.cta {
    margin-top: 10px;
}

.cta a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta a:hover {
    background-color: #45a049;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .clase-seccion {
        height: auto;
    }

    .clase-contenido {
        height: 300px;
    }

    .overlay {
        padding: 10px;
        justify-content: center;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    p {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }

    .cta {
        margin-top: 5px;
    }

    .cta a {
        padding: 8px 15px;
    }
}

/* Estilos para la sección de torneos */
.torneos {
    padding: 80px 0;
    text-align: center;
}

.galeria-torneos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.galeria-torneos img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.galeria-torneos img:hover {
    transform: scale(1.1);
}

/* Estilos adicionales para responsive */
@media screen and (max-width: 768px) {
    .galeria-torneos img {
        max-width: 100%;
    }
}

/* Estilos para la sección de bungalows */
.bungalows {
    padding: 80px 0;
    text-align: center;
}

.habitacion-amueblada {
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.habitacion-amueblada img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.habitacion-amueblada:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    color: #fff;
}

.descripcion {
    text-align: left;
}

.descripcion h3 {
    margin-bottom: 10px;
}

.descripcion p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    color: #fff;
}

.servicios {
    margin-top: 40px;
}

.servicios h3 {
    margin-bottom: 20px;
    color: #1E90FF; /* Azul brillante */
}

.servicios ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.servicios li {
    text-align: center;
    width: 150px;
}

.servicios img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}


/* Estilos para la sección de alquiler */
.alquiler {
    padding: 80px 0;
    text-align: center;
}

.modulo,
.oficina {
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modulo img,
.oficina img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.modulo:hover img,
.oficina:hover img {
    transform: scale(1.1);
}

.modulo .descripcion,
.oficina .descripcion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    color: #fff;
}

.modulo .descripcion h3,
.oficina .descripcion h3 {
    margin-bottom: 10px;
}

.modulo .descripcion p,
.oficina .descripcion p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    color: #fff;
}
